<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Add The Product</h1>
    <form onsubmit="handleSubmit(event)">
      <label for="product">Product Name: </label>
      <input type="text" id="product" name="productName" />
      <button>Add Product</button>
    </form>
    <!-- <script src="/js/product.js"></script> -->
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const handleSubmit = (e) => {
      e.preventDefault();
      const data = {
        product: e.target.productName.value,
      };

      axios.post("http://localhost:5000/api/products", data).then((result) => {
        console.log(result.data);
      });
    };
  </script>
</html>
